{% extends 'base.html' %}
{% block header %}
  <h1>Scholarship Tracker</h1>
{% endblock %}
{% block content %}
  <a class="btn btn-primary" href="{{ url_for('scholarship.create') }}">Add Scholarship</a>
  <ul class="list-group mt-3">
    {% for s in scholarships %}
      <li class="list-group-item">
        <strong>{{ s['name'] }}</strong> - ${{ s['amount'] }} - Due: {{ s['deadline'] }} - Status: {{ s['status'] }}
      </li>
    {% else %}
      <li class="list-group-item">No scholarships yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
